@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

.poppins {
  font-family: "Poppins", sans-serif;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "slnt" 0;
}

.line {
  height: 0.96px;
  background: repeating-linear-gradient(90deg, #818a97 0 8px, #0000 0 14px);
}

.bg1 {
  background: linear-gradient(#f9f8ff, #f3f9ff);
}

@media (prefers-color-scheme: dark) {
  .bg2 {
    background: linear-gradient(#18282a, #221a2c);
  }
}

@media (max-width: 20rem) {
  .mobile {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    padding: 0rem 0rem;
  }

  .mobile2 {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    padding: 3rem 0rem;
  }

  .mobile1 {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    column-gap: 0px;
  }

  .but {
    padding: 0px !important;
    margin-left: 0px;
    margin-right: 0px;
  }

  #t2 {
    display: none;
  }

  #t3 {
    display: none;
  }
}
